

/* Main section */

.main-section{
    padding: 6.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
}
.main-image{
    width: 400px;
    height: 720px;
    border-radius: 50px;
}
.main-welcome{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}
.main-name{
    margin-top: 1.25rem;
    font-size: 3.87rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364d;
}
.main-position{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #05364d;
}
.main-section-social-set a{
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}
.main-section-social-set a:hover i{
    color: #1c44e4;
}
.main-button{
    margin-top: 1.875rem;
}

/* statistics */
 
.statistics{
    padding-top: 6.25rem;
    display: flex;
    justify-content: center;
}
.statistics-item{
    width: 150px;
    background-color: #f8faff;
    text-align: center;
    padding: 0.31rem 0.625rem;
    margin-right: 1.25rem; 
}
.statistics-number{
    font-size: 1.8rem;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.statistics-number:hover{
    background-position: right center;
}
.statistics-title{
    font-size: 1rem;
    color: #797979;
    font-weight: 300px;
}
/* /statistics */

/* About me */
.about-me-image img{
    width: 400px;
    height: 720px;
    border-radius: 10%;
}
.about-me{
    padding: 6.25rem 0;
    display: flex;
    align-items: center;  
}
.about-me-info{
    padding: 2rem;
}

.about-me-discription{
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.8rem;
}
.about-me-button{
    margin-top: 2.5rem;
}
/* /About me */

/* Project section */
.projects{
    padding-top: 6.25rem;
}
.news-project{
    display: flex;
    justify-content: space-between;
}
.new-project{
    position: relative;
    text-align: center;
    width: 30%;
    padding: 3.75rem 1.875rem;
    background-color: #f8faff;
    box-sizing: border-box;
    height: 300px;
    vertical-align: bottom;
    transition: all 0.5s ease-in-out;
}
.new-project:hover{
    background-color: #5f30ff;
}
.new-project img{
    width: 4.5rem;
    border-radius: 20%;
}
.project-title{
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.project-discription{
    font-size: 0.87rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: #797979;
}
.project-link{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
}
.new-project:hover .project-title,
.new-project:hover .project-discription,
.new-project:hover .project-link{
    color: #ffff;
    transition: all 0.5s ease-in-out;
}
/* / project section */

/* Clients section */
.clients{
    padding-top: 16.25rem;
}
.client-image{
    text-align: center;
}
.client-image img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.client-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-info{
    padding-top: 3.125rem;
    padding-left: 3.125rem;
}
.client-name{
    font-size: 1.25rem;
    margin-bottom: 4px;
}
.client-position{
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}
.client-review{
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
    line-height: 1.8rem;
}
.client-rete i{
    color: yellow;
}
/* /Clients section */

/* Portfolio section */

.portfolio{
    padding-top: 6.25rem;
}
.portfolio-filter{
    margin: 0;
}

.portfolio-filter li{
    display: inline;
    text-decoration: none;
    padding-right: 2.5rem;
    font-size: 0.87rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-filter li:hover{
    color: #153fe7;
}
.portfolio-image1{
    width: 100%;
    height: 520px;
}
.portfolio-image2, .portfolio-image3{
    width: 100%;
    height: 250px;
}
.portfolio-items{
    margin-top: 30px;
    position: relative;
}
.portfolio-item{
    position: relative;
    width: 48%;
    margin: 1%;
}
.portfolio-item2{
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 0;
}
.portfolio-item3{
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 270px;
}
.portfolio-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    left: 0;
    top: 0;
    transition: all 0.4s ease 0s;
}
.portfolio-item-info{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
}
.portfolio-item-info a{
    color: white;
    text-decoration: none;
}
.portfolio-item:hover .portfolio-item-overlay{
    visibility: visible;
    background-color: #153fe7;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.portfolio-item:hover .portfolio-item-info{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
/*/ Portfolio section */

/* Section Blog */

.blog{
    padding-top: 6.25rem;
}
.section-title{
    padding-bottom: 1.25rem;
}
.blog-items{
    display: flex;
    justify-content: space-between;
}
.blog-items > div{
    width: 30%;
}
.blog-item-image img{
    width: 100%;
    height: 250px;
}
.blog-item-info{
    padding: 1.25rem;
    background-color: #f8faff;
    color: #797979;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item-image{
    height: 250px;
    overflow: hidden;
}
.blog-item:hover img{
    transform: scale(1.1);
}
.blog-item:hover .blog-item-info{
    background-color: white;
}
.blog-item-main-info span{
    padding-right: 1.875rem;
    font-size: 0.87rem;
    font-weight: lighter;
}
.blog-item-main-info  i{
    padding-right: 5px;
}
.blog-item-title{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.95rem;
    color: #05364d;
    font-weight: 700;
}
.blog-item-description{
    line-height: 1.8rem;
    font-size: 0.92rem;
    font-weight: lighter;
}
.blog-item-more{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
    text-decoration: none;
}
.blog-item-more:hover{
    color: #ed239f;
}
/* /Section Blog */

/* section portners */

.portners{
    padding-top: 6.25rem;
}
.portners {
    display: flex;
    justify-content: space-between;
}
.portner-image img{
    width: 100px;
    border-radius: 5px;
}


@media only screen and (max-width: 991px){
    .container{
        width: 80%;
    }


    .main-section__image{
        display: none;
    }
    .main-section > div{
        width: 100%;
    }


    .statistics{
        width: 100%;
        text-align: center;
    }


    .about-me-image{
        display: none;
    } 
    .about-me > div{
        width: 100%;
    }

    .news-project{
        flex-wrap: wrap;
    }
    .new-project{
        flex-basis: 45%;
        margin: 1rem;
    }


    .client-items {
        flex-direction: column;
    }
    .blog-items{
        flex-wrap: wrap;
    }

    .blog-item {
        flex-basis: 45%;
        margin: 1rem;
    }


    .portners{
        flex-direction: column;
        justify-content: center;
    }
    .portner-image{
        text-align: center;
        padding: 2rem;
    }

}


@media only screen and (max-width: 767px) {
    .container{
        width: 95%;
    }

    .main-image{
        display: none;
    }
    .main-button{
        display: none;
    }
    .main-section > div{
        width: 100%;
    }


    .statistics{
        flex-direction: column;
    }
    .statistics > div{
        width: 100%;
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .about-me-image{
        display: none;
    }    
    .about-me > div{
        width: 100%;
    }
    
    
    .new-project{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .client-items > div{
        width: 100%;
        float: none;
    }

    .portfolio-items{
        position: static;
        display: block;
    }
    .portfolio-item{
        position: relative;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .portfolio-item3{
        top: 0;
    }

    
    .blog-items > div{
        flex-basis: 100%;
    }


    .portners div{
        float: none;
    }


    .statistics-item{
        padding: 0;
    }
}